fastapi
uvicorn[standard]
pydantic
typing
sqlalchemy
mysql-connector-python==8.0.32
mysqlclient
PyMySQL
cryptography
Pillow
torch
torchvision
opencv-python
pandas
ipython
psutil
tqdm
matplotlib
seaborn