fastapi
uvicorn[standard]
pydantic
typing
sqlalchemy
mysql-connector-python==8.0.32
mysqlclient
pymsql
cryptography
pillow
torch
torchvision
opencv-python
pandas
ipython
psutil
tqdm
matplotlib
seaborn